<h1>Details</h1>

  <p>Machine: {{logs.machine.machine}}</p>
  <p>Date: {{dateFormat logs.date "DD/MM/YYYY"}}</p>
  <p>Synthesis: {{logs.synthesis}}</p>
  <p>Other Technician: {{logs.otherTechnician}}</p>
  <p>Description: {{logs.description}}</p>




<a href="/edit?log_id={{logs._id}}">Edit</a>
<a href="/list">Back</a>

