<h1>Details</h1>

<p>Machine: {{logs.machine.machine}}</p>
<p>Date: {{dateFormat logs.date "DD/MM/YYYY"}}</p>
<p>Synthesis: {{logs.synthesis}}</p>
<p>Other Technician: {{logs.otherTechnician}}</p>
<p>Description: {{logs.description}}</p>
<br>
<form method="POST" action="/details/{{logs._id}}/delete">
  <button class="btn btn-primary" type="submit">Delete</button>
</form>
<br>

<button class="btn btn-primary" type="button" onclick="location.href='/edit?log_id={{logs._id}}'">Edit</button>
<br>
<br>
<button class="btn btn-primary" type="button" onclick="location.href='/list'">Back to the list of maintenances</button>
