<h1>Details</h1>

  <p>{{logs.machine}}</p>
  <p>{{logs.date}}</p>
  <p>{{logs.synthesis}}</p>
  <p>{{logs.otherTechnician}}</p>
  <p>{{logs.description}}</p>


<a href="/edit?log_id={{logs._id}}">Edit</a>
<a href="/list">Back</a>