{{> header }}

<div style="display: flex; flex-direction:row; height: 100%">
  {{> sidenav }}

  <div class="main">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h3 class="card-title main-color text-center">Edit Maintenance</h3>
        <br>
        {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
        {{/if}}
        <form action="/edit?log_id={{log._id}}" method="POST">
          <div class="form-group">
            <label for="machine">Machine *</label>
            <select name="machine" class="form-control" required>
              <option value="">Choose a machine</option>
              {{#each machines}}
              <option value="{{this._id}}" {{{isSelected this.machine ../log.machine.machine}}}>{{this.machine}}
              </option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label for="date">Date *</label>
            <input type="date" name="date" required value="{{dateFormat log.date "YYYY-MM-DD"}}" class="form-control"
              required>
          </div>
          <div class="form-group">
            <label for="synthesis">Synthesis *</label>
            <input type="text" name="synthesis" maxlength="30" value="{{log.synthesis}}" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="technician">Technician</label>
            <input type="text" name="technician" value="{{log.technician.username}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="otherTechnician">Other Technician</label>
            <input type="text" name="otherTechnician" value="{{log.otherTechnician}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" name="description" rows="5" class="form-control">{{log.description}}</textarea>
          </div>
          <button type="submit" class="btn btn-outline-success">Save</button>
          <a href="/details/{{log._id}}" class="btn btn-outline-danger">Cancel</a>
          <div><small>* - Required field</small></div>
        </form>
      </div>
    </div>
  </div>
</div>