<form action="/edit?log_id={{log._id}}" method="POST">
  <label for="">Machine</label>
   <select name="machine" required id="machine">
    <option value="">Choose a machine</option>
      {{#each machines}}
        <option value="{{this._id}}" {{{isSelected this.machine ../log.machine.machine}}}>{{this.machine}}</option>
      {{/each}}
  </select>
  <label for="">Date</label>
  <input type="date" name="date" required value="{{dateFormat log.date "YYYY-MM-DD"}}">
  <label for="">Synthesis</label>
  <input type="text" name="synthesis" maxlength="30" required value="{{log.synthesis}}">
  <label for="">Other Technician</label>
  <input type="text" name="otherTechnician" value="{{log.otherTechnician}}">
  <label for="">Description</label>
  <input type="text" name="description" value="{{log.description}}">
  <button type="submit">EDIT</button>
</form>


<a href="/list">Cancel</a>
