<form action="/edit?log_id={{log._id}}" method="POST">
  <label for="">Machine</label>
  <input type="text" name="machine" value="{{log.machine}}">
  <label for="">Date</label>
  <input type="text" name="date" value="{{log.date}}">
  <label for="">Synthesis</label>
  <input type="text" name="synthesis" value="{{log.synthesis}}">
  <label for="">Other Technician</label>
  <input type="text" name="otherTechnician" value="{{log.otherTechnician}}">
  <label for="">Description</label>
  <input type="text" name="description" value="{{log.description}}">
  <button type="submit">EDIT</button>
</form>

