<h1>List</h1>

<a href="/login">Log In</a>

<a href="/signup">sign up</a>

<form action="/logout" method="POST" id="form">
  <button type="submit">Log Out</button>
</form>

<a href="/add">Add New</a>

<br>
<br>
<br>

<form action="/list" method="GET">
  <button type="submit">All</button>
</form>


<form action="/list" method="GET">
  <label for="">Machine</label>
 <select name="machine" id="machine">
    <option>Choose a machine</option>
      {{#each machines}}
        <option value="{{this._id}}">{{this.machine}}</option>
      {{/each}}
  </select>
  <button type="submit">Submit</button>
</form>





<br>
<br>
<br>
  


{{#each logs}}
<a href="/details/{{this._id}}">{{this.machine.machine}}  {{dateFormat this.date "DD/MM/YYYY"}}  {{this.synthesis}}</a>
<br>
{{/each}}