<h1>List</h1>

{{#if user}}
Welcome {{user.username}}
  <form action="/logout" method="POST" id="form">
    <button class="pull-right logout" type="submit">Log Out</button>
  </form>

{{else}}
  <a class="pull-right signup" href="/signup">Sign up</a>

  <a class="pull-right login" href="/login">Log In</a>
{{/if}}

<br>
<br>

<a href="/add">Add New</a>

<br>
<br>
<br>

<form action="/list" method="GET">
  <button type="submit">All</button>
</form>


<form action="/list" method="GET">
  <label for="">Machine</label>
 <select name="machine" id="machine">
    <option>Choose a machine</option>
      {{#each machines}}
        <option value="{{this._id}}">{{this.machine}}</option>
      {{/each}}
  </select>
  <button type="submit">Submit</button>
</form>





<br>
<br>
<br>
  


{{#each logs}}
<a href="/details/{{this._id}}">{{this.machine.machine}}  {{dateFormat this.date "DD/MM/YYYY"}}  {{this.synthesis}}</a>
<br>
{{/each}}

<div class="api">
  current temperature: {{temp}}ºC
</div>