<h2>List of maintenances</h2>



{{#if user}}


{{checkingDate message}}
{{user.username}}

<form action="/logout" method="POST" id="form">
  <button class="pull-right logout" type="submit">Log Out</button>
</form>

{{else}}
<a class="pull-right signup" href="/signup">Signup</a>

<a class="pull-right login" href="/login">Login</a>
{{/if}}




<br>
<br>

<a class="pull-left login" href="/machine-list">List of machines</a>
<a class="pull-left login" href="/add">Add new maintenance log</a>


<br>
<br>
<br>

<h4>Filter logs:</h4>



<form class="list-forms" action="/list" method="GET">
  <label for="">Machine</label>
  <select name="machine" id="machine">
    <option>Choose a machine</option>
    {{#each machines}}
    <option value="{{this._id}}" {{{isSelected this._id ../selectedMachineId}}}>{{this.machine}}</option>
    {{/each}}
  </select>
  <button type="submit">Filter</button>
  <br>
</form>

<form class="list-forms" action="/list" method="GET">
  <button type="submit">Clear filters</button>
</form>

<br>
<br>
<br>


<table class="grid">
  <tr>
    <th class="th">Machine</th>
    <th class="th">Date</th>
    <th class="th">Synthesis</th>
    <th class="th">Technitian</th>
  </tr>
  {{#each logs}}
  <tr>
    <td class="td">
      {{this.machine.machine}}
    </td>
    <td class="td">
      {{dateFormat this.date "DD/MM/YYYY"}}
    </td>
    <td class="td">
      <a href="/details/{{this._id}}">{{this.synthesis}}</a>
    </td>
    <td class="td">
      {{this.user.username}}
    </td>
  </tr>
  {{/each}}
</table>

<br>

<div class="weather">
<div class="api">
  <div id="wicon"><img id="wicon" src="http://openweathermap.org/img/wn/{{weatherIcon}}@2x.png" alt="Weather icon"></div>
</div>
 <div class="api"> 
  <div class="temp">{{temperature}}ºC</div>
</div>
</div>