{{> header }}

<div style="display: flex; flex-direction:row; height: 100%">
  {{> sidenav }}

  <div class="main">
    <div class="card mx-auto">
      <div class="card-body">
        <h3 class="card-title main-color text-center">List of maintenances</h3>
        <br>
        <form action="/list" method="GET">
          <div class="form-group">
            <label for="machine">Machine</label>
            <select name="machine" id="machine" class="custom-select">
              <option>Choose a machine</option>
              {{#each machines}}
              <option value="{{this._id}}" {{{isSelected this._id ../selectedMachineId}}}>{{this.machine}}</option>
              {{/each}}
            </select>
          </div>
          <button type="submit" class="btn btn-outline-primary">Filter</button>
          {{#if selectedMachineId}}
          <a href="/list" class="btn btn-outline-primary">Clear Filters</a>
          {{/if}}
        </form>
        <br>
        <br>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Machine</th>
              <th scope="col">Date</th>
              <th scope="col">Technician</th>
              <th scope="col">Synthesis</th>
            </tr>
          </thead>
          <tbody>
            {{#each logs}}
            <tr>
              <td class="td">
                {{this.machine.machine}}
              </td>
              <td class="td">
                {{dateFormat this.date "DD/MM/YYYY"}}
              </td>
              <td class="td">
                {{this.technician.username}}
              </td>
              <td class="td">
                <a href="/details/{{this._id}}">{{this.synthesis}}</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>

      </div>
    </div>

    <div class="card weather">
      <img src="http://openweathermap.org/img/wn/{{weatherIcon}}@2x.png" class="card-img-top" alt="Weather icon">
      <div class="card-body">
        <div class="card-text text-center">
          Lisbon
          <br>
          {{temperature}}&deg;C
        </div>
      </div>
    </div>
  </div>
</div>