<h1>List</h1>

<a href="/login">Log In</a>

<a href="/signup">sign up</a>

<a href="/list">Log Out</a>

<a href="/add">Add New</a>

<br>

{{#each logs}}
<<<<<<< HEAD
<a href="/list/{{this._id}}">{{this.machine}}</a>
=======
<a href="/details/{{this._id}}">{{this.machine}}  {{this.date}}  {{this.synthesis}}</a>
>>>>>>> 2f8fca781b1fef96a5512d6b1dac783fec8814b9
<br>
{{/each}}